# ---------------
# Environment
# ---------------
.env
**/vars/**
**credentials.json

# ---------------
# Terraform
# ---------------
**.tfvars
**.tfstate
**.terraform


# ---------------
# SSH
# ---------------
id_rsa**